#index-tag-page ul{
	list-style: none;
	list-style-image: none;
}

#itpAlpha {
	margin:12px 0 0 0;
	list-style: none;
	padding-bottom: 40px;
	text-indent: 0px;
}

#itpAlpha li {
	float:left;
	margin:0pt 4px 3px 0pt;
	width:3.2%;
}

#itpAlpha li a {
	background:#EEEEEE none repeat scroll 0% 0%;
	color:inherit;
	display:block;
	font-family:Georgia,Times,serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
}

#itpLetter {
	display: block;
}